---
import {Box, Flex, VStack,Stack, Container} from "@styled-system/jsx";
import {Avatar} from "~/components/ui/avatar";
import {Text} from "~/components/ui/text";
import {Link} from "~/components/ui/link";
import {Button} from "~/components/ui/button";
import {Heading} from "~/components/ui/heading";
import {Home, Briefcase, CableCar, Newspaper, Goal, Mail, Download} from 'lucide-react'

interface Props {
    title: string;
}

const {title} = Astro.props;
import "../index.css"
import '@fontsource-variable/plus-jakarta-sans';
import Navbar from "../components/navbar/navbar.astro";
---

<!doctype html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Astro description"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<Container as="body" bg="bg.canvas">
    <Flex minH="100vh">
        <Flex direction="column" gap="4" borderRight="1px solid" borderColor="border.default">
            <Flex border="1px solid" borderRight="none" borderColor="border.default" as="nav" flexDir="column" pl="8"
                  pr="16" rounded="md" flexGrow="1" py="12" gap="16">
                <Flex gap="2" align="start">
                    <Box color="accent.default" py="1">
                        <CableCar size={58}
                                  strokeWidth={1}
                        />
                    </Box>
                    <Flex direction="column" gap="0">
                        <Heading size="4xl" fontWeight="black">
                            Gondola
                        </Heading>
                        <Heading size="4xl" fontWeight="thin" color="fg.subtle">
                            Studio
                        </Heading>
                    </Flex>
                </Flex>
                <Stack gap="4">
                <Heading color="fg.muted" fontWeight="thin">Team</Heading>
                <Flex gap="4" >
                    <Avatar name="Aloys Berger" size="lg"/>
                    <Flex direction="column" gap="0">
                        <Text fontWeight="bold" size="md">Aloys Berger</Text>
                        <Text fontWeight="extralight" size="sm">Idea to App Converter</Text>
                    </Flex>
                </Flex>
                </Stack>
                <Stack gap="4">
                    <Heading color="fg.muted" fontWeight="thin">Links</Heading>
                <Navbar/>
                </Stack>
            </Flex>
            <Button variant="outline" size="xl" my="4" mx="4" mb="8" rounded="xl">
                <Download/>
                Download CV
            </Button>
        </Flex>
        <Box as="main" minH="full" overflowY="auto" borderRight="1px solid" borderColor="border.default" flexGrow="1" >
            <slot/>
        </Box>
    </Flex>
</Container>
</html>
